<% layout('../pageTempelate/index') -%>
    <ul>
        <% for (let camps of campList) {%>
        <li><a href="campdisplay/<%=camps._id%>"><%= camps.title  %> </a>located at <%=camps.location %> </li>
        
        <% } %> 
    </ul>
