<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateCamp</title>
</head>
<body>
    <form action="/campground" method="POST">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name="title" placeholder="title">
        <button> Create new</button>
    </form>
</body>
</html>