<% layout('../pageTempelate/index') -%>
    <form action="/campground" method="POST">
        <input type="text" name="location" placeholder="Location">
        <input type="text" name="title" placeholder="title">
        <button> Create new</button>
    </form>
