<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/campground">
        <button>Camps List</button>
    </form>
    <form action="/campground/new">
        <button>Create New Camp</button>
    </form>
</body>
</html>